Screen {
    align: center top;
    overflow-x: auto;
}

ModalScreen {
    align: center middle;
}

#dialog {
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#insertdialog {
    padding: 0 1;
    width: 60;
    height: 40;
    border: thick $background 80%;
    background: $surface;
}

TabbedContent {
    height: 100%;
    overflow-y: hidden;
}

Button {
    margin-right: 1;
    margin-left: 1;
}


#dbtree {
    dock: left;
    width: 25;
    padding: 1;
}

DataTable {
    padding-left: 1;
    padding-right: 1;
}

#opentree {
    height: 80%;
    margin-top: 2;
    margin-left: 2;
}

#openlabel {
    margin-left: 3;
    margin-top: 2;
}

RowEdit {
    height: 3;
    width: 80%;
}
#roweditlabel {
    margin-left: 2;
    margin-top: 1;
}
#roweditvalue {
    height: 3;
    margin-left: 2;
}